---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ utility_openshift_target_credential_resource_name }}"
  namespace: "{{ utility_openshift_target_credential_resource_namespace }}"
  labels:
    app.kubernetes.io/managed-by: "{{ utility_openshift_target_credential_managed_by_label }}"
  annotations:
    kubernetes.io/service-account.name: "{{ utility_openshift_target_credential_resource_name }}"
type: kubernetes.io/service-account-token
...
