---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: "{{ utility_openshift_target_credential_resource_name }}"
  labels:
    app.kubernetes.io/managed-by: "{{ utility_openshift_target_credential_managed_by_label }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: "{{ utility_openshift_target_credential_cluster_role }}"
subjects:
  - kind: ServiceAccount
    name: "{{ utility_openshift_target_credential_resource_name }}"
    namespace: "{{ utility_openshift_target_credential_resource_namespace }}"
...
